@model IEnumerable<XeMart.Web.ViewModels.Categories.MainCategoriesWithSubcategoriesViewModel>

<div class="col-lg-3 col-md-0">
    <div class="sidemenu">
        <p>All Categories <i class="fa fa-bars"></i></p>
        <ul class="list-unstyled gt-menu">
            @foreach (var mainCategory in Model)
	        {
            <li>
                <a asp-area="" asp-controller="MainCategories" asp-action="Subcategories" asp-route-mainCategoryId="@mainCategory.Id"><i class="@mainCategory.FontAwesomeIcon" style="position:absolute"></i> <span class="pl-4">@mainCategory.Name</span><i class="fa fa-angle-right"></i></a>
                <div class="mega-menu pb-4 pt-4 w-auto">
                    <div class="row">
                        <h6 class="pb-1">@mainCategory.Name</h6>
                        @foreach (var subcategory in mainCategory.Subcategories)
	                    {
                            <div class="col-md-12">
                                <div class="smartphone">
                                    <a asp-area="" asp-controller="Subcategories" asp-action="Products" asp-route-subcategoryId="@subcategory.Id" class="dropdown-item">- @subcategory.Name</a>
                                </div>
                            </div>
	                    }
                    </div>
                </div>
            </li>
	        }
        </ul>
    </div>
</div>
