@using XeMart.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- Animate Css -->
    <link href="~/css/assets/animate.min.css" rel="stylesheet" asp-append-version="true" />

    <!-- Owl Slider -->
    <link href="~/css/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true" />

    <!-- Custom Style -->
    <link href="~/css/assets/normalize.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/assets/responsive.min.css" rel="stylesheet" asp-append-version="true" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2b5e1173ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Top Bar 2 -->
    <section class="top-bar2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="top-right text-right">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Bar 2 -->
    <!-- Logo Area 2 -->
    <section class="logo-area2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt=""></a>
                    </div>
                </div>
                <vc:search></vc:search>
                <vc:products-count-navbar></vc:products-count-navbar>
            </div>
        </div>
    </section>
    <!-- End Logo Area 2 -->
    <!-- Cart Body -->
    <vc:cart-body></vc:cart-body>
    <!-- End Cart Body -->
    <!-- Menu Area 2 -->
    <cache expires-after="TimeSpan.FromMinutes(1)">
        <vc:menu-area></vc:menu-area>
    </cache>
    <!-- End Menu Area 2 -->
    <!-- Mobile Menu -->
    <vc:mobile-menu></vc:mobile-menu>
    <!-- End Mobile Menu -->
    @if (IsSectionDefined("Slider"))
    {
        @await this.RenderSectionAsync("Slider", required: false)
    }
    else
    {
        <!-- Breadcrumb Area -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-box text-center">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="list-inline-item"><span>||</span> @this.ViewData["Title"].ToString().ToUpper()</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Breadcrumb Area -->
    }
    <!-- Begin Content -->
    <partial name="_AlertsPartial" />
    <partial name="_CookieConsentPartial" />
    <div class="container mb-4">
        @this.RenderBody()
    </div>
    <!-- End Content -->
    <!-- Brand area 2 -->
    <cache expires-after="TimeSpan.FromMinutes(1)">
        <vc:partners></vc:partners>
    </cache>
    <!-- End Brand area 2 -->
    <!-- Footer Area -->
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="f-contact">
                        <h5>Contact Info</h5>
                        <div class="f-add">
                            <i class="fa fa-map-marker"></i>
                            <span>Address :</span>
                            <p>795 South Park Avenue, New York, NY USA 94107</p>
                        </div>
                        <div class="f-email">
                            <i class="fa fa-envelope"></i>
                            <span>Email :</span>
                            <p>enquery@domain.com</p>
                        </div>
                        <div class="f-phn">
                            <i class="fa fa-phone"></i>
                            <span>Phone :</span>
                            <p>+1 908 875 7678</p>
                        </div>
                        <div class="f-social">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <cache expires-after="TimeSpan.FromMinutes(1)">
                    <vc:categories-footer></vc:categories-footer>
                </cache>
                <div class="col-md-3">
                    <div class="f-link">
                        <h5>Quick Links</h5>
                        <ul class="list-unstyled">
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-angle-right"></i>My Account</a></li>
                            <li><a asp-area="" asp-controller="ShoppingCart" asp-action="Index"><i class="fa fa-angle-right"></i>Shopping Cart</a></li>
                            <li><a asp-area="" asp-controller="Favourites" asp-action="All"><i class="fa fa-angle-right"></i>Favourites</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="Create"><i class="fa fa-angle-right"></i>Checkout</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="History"><i class="fa fa-angle-right"></i>Order History</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="f-sup">
                        <h5>Support</h5>
                        <ul class="list-unstyled">
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-angle-right"></i>Contact Us</a></li>
                            <li><a asp-area="" asp-controller="Partners" asp-action="Create"><i class="fa fa-angle-right"></i>Partners</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Return Policy</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Privacy Policy</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Frequently asked questions</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Terms & Condition</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Delivery Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy; XeMart @DateTime.UtcNow.Year | Designed With <i class="fa fa-heart"></i> by <a href="https://wrapbootstrap.com/user/snazzytheme" target="_blank">SnazzyTheme</a></p>
                </div>
                <div class="col-md-6 text-right">
                    <img src="~/images/payment.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="back-to-top text-center">
            <img src="~/images/backtotop.png" alt="" class="img-fluid">
        </div>
    </section>
    <!-- End Footer Area -->
    <partial name="_ChatPartial" />
    <!-- ========== JavaScript Files ========== -->
    <!-- jQuery JS -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

    <!-- jQuery Unobstrusive Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>

    <!-- Popper JS -->
    <script src="~/lib/popper/dist/umd/popper.min.js" asp-append-version="true"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <!-- Owl Slider -->
    <script src="~/lib/owl-carousel/dist/owl.carousel.min.js" asp-append-version="true"></script>

    <!-- Wow Animation -->
    <script src="~/lib/wow-js/dist/wow.min.js" asp-append-version="true"></script>

    <!-- Price Filter -->
    <script src="~/js/assets/price-filter.min.js" asp-append-version="true"></script>

    <!-- Mean Menu -->
    <script src="~/js/assets/jquery.meanmenu.min.js" asp-append-version="true"></script>

    <!-- Custom JS -->
    <script src="~/js/plugins.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment-js/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/time.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
