@model IEnumerable<XeMart.Web.ViewModels.Administration.Subcategories.DeletedSubcategoryViewModel>
@{
    ViewData["Title"] = "Deleted Subcategories";
}

<div class="shadow card">
    <div class="card-header h3 text-center">@ViewData["Title"]</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr class="row">
                    <th scope="col" class="col-1 d-flex justify-content-center">#</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Name</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Image</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Main Category</th>
                    <th scope="col" class="col-3 d-flex justify-content-center">Deleted On</th>
                    <th scope="col" class="col-3 d-flex justify-content-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                    <tr class="row">
                        <td class="col-12 d-flex justify-content-center"><strong>No deleted subcategories</strong></td>
                    </tr>
                }
                @foreach (var subcategory in Model)
                {
                    <tr class="row">
                        <td class="col-1 d-flex justify-content-center">
                            @subcategory.Id
                        </td>
                        <td class="col-2 d-flex justify-content-center">
                            @subcategory.Name
                        </td>
                        <td class="col-1 d-flex justify-content-center">
                            <img src="@subcategory.ImageUrl" class="custom-image-box" />
                        </td>
                        <td class="col-2 d-flex justify-content-center">
                            @subcategory.MainCategoryName
                        </td>
                        <td class="col-3 d-flex justify-content-center">
                            <time datetime="@subcategory.DeletedOn"></time>
                        </td>
                        <td class="col-md-3 d-flex justify-content-around">
                            <div class="mr-2">
                                <a asp-controller="Subcategories" asp-action="Undelete" asp-route-id="@subcategory.Id" class="btn btn-primary btn-sm">Undelete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
