@model IEnumerable<XeMart.Web.ViewModels.Products.ProductSidebarViewModel>

<div class="ht-offer">
    <div class="sec-title">
        <h6>Newest Products</h6>
    </div>
    <div class="ht-body owl-carousel">
        @foreach (var product in Model)
        {
            <div class="ht-item">
                <div class="ht-img">
                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ImageUrl" class="img-fluid"></a>
                </div>
                <div class="ht-content">
                    <p><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></p>
                    <partial name="_ProductRatingPartial" model="new XeMart.Web.ViewModels.Products.ProductRatingViewModel { AverageRating = product.AverageRating }"/>
                    <ul class="list-unstyled list-inline price">
                        <li class="list-inline-item">@product.Price</li>
                        <li class="list-inline-item"></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
