@model IEnumerable<XeMart.Web.ViewModels.Administration.Partners.DeletedPartnerViewModel>
@{ ViewData["Title"] = "Deleted Partner Requests"; }

<div class="shadow card">
    <div class="card-header h3 text-center">@ViewData["Title"]</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr class="row">
                    <th scope="col" class="col-1 d-flex justify-content-center">#</th>
                    <th scope="col" class="col-3 d-flex justify-content-center">Company Name</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Company URL</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Manager</th>
                    <th scope="col" class="col-3 d-flex justify-content-center">Deleted On</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                    <tr class="row">
                        <td class="col-12 d-flex justify-content-center"><strong>No deleted partner requests</strong></td>
                    </tr>
                }
                @foreach (var partner in Model)
                {
                    <tr class="row">
                        <td class="col-1 d-flex justify-content-center">
                            @partner.Id
                        </td>
                        <td class="col-3 d-flex justify-content-center">
                            @partner.CompanyName
                        </td>
                        <td class="col-2 d-flex justify-content-center">
                            @partner.CompanyUrl
                        </td>
                        <td class="col-2 d-flex justify-content-center">
                            @partner.ManagerEmail
                        </td>
                        <td class="col-3 d-flex justify-content-center">
                            <time datetime="@partner.DeletedOn"></time>
                        </td>
                        <td class="col-md-1 d-flex justify-content-around">
                            <div class="mr-2">
                                <a asp-controller="Partners" asp-action="Undelete" asp-route-id="@partner.Id" class="btn btn-primary btn-sm">Undelete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
